.resultContainer {
	cursor: pointer;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin: 0rem 2rem 0.5rem 2rem;
	background: rgba(82, 82, 82, 0.1);

	img {
		height: 64px;
		width: 64px;
	}

	.trackTitle {
		margin-left: 1rem;
		width: 60%;
		color: #fff;
	}

	.artistName {
		color: rgba(196, 196, 196, 0.9);
		font-weight: ligher;
	}
}
